@model Chinmaya.Registration.Models.ForgotPasswordModel

@{ 
    Layout = "../Shared/_LayoutPageOpen.cshtml";
}
<div class="col-md-12"><div class="login_heading">Forgot Password</div></div>
<div class="col-md-12 p-0" id="forgotPasswordForm">
        <label for="Email" class="col-md-2 control-label">Email</label>
        <div class="col-md-12">
            <input type="text" id="Email" class="form-control" required />
            <label class="emailError" style="color:red; display:none">Invalid Email Address</label>
        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="forgotPassword" class="btn btn-default">Email Link</button>
        </div>
    </div>
</div>
<div id="emailSent" style="display:none">
    <p>
        Reset password link has been sent to mail id
    </p>
</div>
<script type="text/javascript">
	function OnSuccess(response) {
		toastr.options = {
			positionClass: 'toast-top-center'
		};
		if (typeof (response.Message) !== 'undefined') {
		    if (response.IsSuccess) {
		        toastr.success(response.Message, "Forgot Password", { timeOut: 3000 });
		        $("#forgotPasswordForm").hide();
		        $("#emailSent").show();
		    } else {
		        toastr.error(response.Message, "Forgot Password");
		        $("#Email").val('');
		    }
		}
	}
	$(function () {
		$("#forgotPassword").on("click", function () {
		    var email = $("#Email").val();
		    if (email == "" || email == null) {
		        $(".emailError").show();
		        return;
		    } else {
		        $(".emailError").hide();
		    }
		    var resetModel = {
		        Email: $("#Email").val()
		    };

		    $.ajax({
		        url: "/Account/ForgotPassword/",
		        method: "POST",
		        contentType: "application/json; charset=utf-8",
		        data: JSON.stringify(resetModel),
		        success: OnSuccess,
		        error: function (err) {
		            console.log(err);
		        }
		    });
		});
		});
</script>


