
@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .not-authorized {
        text-align: center;
        color: red;
        margin-top:50px;
    }
</style>

<h2 class="not-authorized"  >You are not authorized</h2>

