
@{
	ViewBag.Title = "Registration";
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">

	<meta name="author" content="">

	<title>Welcome to Chinmaya Mission</title>


	@Styles.Render("~/Content/css")
</head>

<body class="theme_bg">
	<div class="card-container manual-flip">
		<div class="login-logo">
			<img src="~/Content/img/registration-logo.png" alt="logo"/>
			</div>
		
		<div class="login-box">
			
				<div class="login_heading"> Program/Event Registration</div>
				<div class="info_msg">
			Thank you for your interest in Chinmaya Mission! To participate in Chinmaya Mission classes and activities you must create an account. Membership is free and available to all. you may sign up individually or as a family. The whole family is encouraged to participate in Chinmaya Mission activities together.
					</div>
					<button class="btn btn-orange float-right" id="btnContinue" type="submit">@Html.ActionLink("Continue", "BindingDataPersonalDetails", "Account", new { area = "" }, new { @style = "color:white;" })<i class="material-icons">check_circle</i></button>

				</div>

		@section Scripts {
			@Scripts.Render("~/bundles/jqueryval")

		}
		</div>
</body>
</html>



