@model Chinmaya.Registration.Models.ToastModel
@{
		ViewBag.Title = "ResetPasswordConfirmation";
		Layout = "~/Views/Shared/_LayoutPageRegister.cshtml";
	}

	<div class="container">
		<div class="row">

			<div class="info_msg">
				@Model.Message. &nbsp; Click here to @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @style = "color:red;" }) &nbsp; to your Account
			</div>
		</div>
	</div>



