
@model Chinmaya.Registration.Models.AdminModelcs
@using Chinmaya.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "MyAccount-Admin";
}
<style>
    .nav-link active {
        color: #f8430c;
    }

    td.details-control {
        background: url('../Content/img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../Content/img/details_close.png') no-repeat center center;
    }
</style>
<button class="navbar-toggler aside-toggle" aria-expanded="false" aria-controls="menu-content" aria-label="Toggle navigation" type="button" data-target="#menu-content" data-toggle="collapse"> <span class="navbar-toggler-icon"></span> </button>

<div class="bd-content">
	<div class="row">
		<div class="col-md-10"><h3>User Information</h3></div>
		<a href="javascript: void(0);" data-toggle="tooltip" title="Converts Individual Account to Family Account"><button class="btn btn-orange float-right mr-3" type="submit" onclick="changeAccount()">Submit <i class="material-icons">check_circle</i></button></a>
		
	</div>
		<div class="col-md-12 table-responsive">
			<table id="example" class="display">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Id</th>
						<th>FullName</th>
						<th>AccountType</th>
						<th>DOB</th>
						<th>HomePhone</th>
						<th>CellPhone</th>
					</tr>
				</thead>
			</table>
		</div>

	</div>

    <script>
		function changeAccount() {
			var selected = [];
			$("input:checkbox[class=editor-active]:checked").each(function () {
				selected.push($(this).attr('id'));
			});
			
			if (selected.length == 0) {
				//alert("Please select atleast one Individual Account");
				var content = "Please select atleast one Individual Account";
				$.confirm({
					title: 'Alert!',
					content: content,
					buttons: {
						confirm: {
							text: 'Okay',
							btnClass: 'btn-blue',
							keys: ['enter', 'shift'],
							action: function () {
							}
						}
					}
				});
			}
			else {
				var content = "Would you like to change Account to Family Account? ";
				$.confirm({
                    title: 'confirm!',
                    content: content,
                    buttons: {
                        confirm: {
                            text: 'Okay',
                            btnClass: 'btn-blue',
                            keys: ['enter', 'shift'],
                            action: function () {
								$("input:checkbox[class=editor-active]:checked").each(function () {
									var id = $(this).attr("Id");
									$.ajax({
										"url": "../Admin/ChangeAccountType/" + id,
										"type": "POST",
										"data": id,
										success: function (res) {
											//window.location.reload();
										},
									});
								});
								var text = "Account changed to Family Account successfully";
								$.confirm({
									title: 'Alert!',
									content: text,
									buttons: {
										confirm: {
											text: 'Okay',
											btnClass: 'btn-blue',
											keys: ['enter', 'shift'],
											action: function () {
												window.location.reload();
											}
										}
									}
								});
								
							}
                        },
                        cancel: function () {
                            $('.editor-active').prop('checked', false);
                        }
                    }
				});
				
			}
		}

		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
            function format(Id, tr, row) {
                $.ajax({
                    "type": "GET",
                    url: "../Admin/GetAllFamilyMembers/" + Id,
                    "datatype": "json",
                    success: function (res) {
                        if (res.data.length > 0) {
                            var dynamicHtml = '<table id="Child" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'
                                + '<thead><tr><th>FullName</th><th>DOB</th><th>Relationship</th><th>Grade</th></tr></thead><tbody>';
                            $.each(res.data, function (i, data) {
                                dynamicHtml += '<tr>' +
                                    '<td>' + data.Fullname + '</td>' +
                                    '<td>' + data.DOB + '</td>' +
                                    '<td>' + data.Relationship + '</td>' +
                                    '<td>' + data.Grade + '</td>' +
                                    '</tr>';
                            });
                        }
                        else {
                            dynamicHtml = "<b>Family members does not exist</b>";
                        }
                        row.child(dynamicHtml).show();
                        tr.addClass('shown');
                    }
                });
            }

            var table = $('#example').DataTable({
                "order": [],
                ajax: {
                    "url": "../Admin/GetAllUsers",
                    "type": "GET",
                    "datatype": "json"
                },
				columnDefs: [
					{
						"targets": 0,
						"data": null,
						"orderable": false,
						"className": 'editor-active',
						"width": "0.1%",
						"defaultContent": '',
						render: function (data, type, row) {
							if (row.AccountType == "Individual Account")
								return '<input type="checkbox" class="editor-active" id="' + row.Id + '" >';
						}
					},
					{
						"targets": 1,
						"className": 'details-control',
						"orderable": false,
						"data": null,
						"defaultContent": ''
						
					},
                    {
                        "targets": 2,
                        "data": "Id",
                        "visible": false
                    },
                    {
                        "targets": 3,
                        "data": "FullName",
                        "width": "20%"
                    },
                    {
                        "targets": 4,
                        "data": "AccountType",
                        "width": "20%"
                    },
                    {
                        "targets": 5,
                        "data": "DOB"
                    },
                    {
                        "targets": 6,
                        "data": "HomePhone",
                        "width": "8%"
                    },
                    {
                        "targets": 7,
                        "data": "CellPhone",
                        "width": "15%"
                    }
                ]
			});

			$(document).on('change', 'input[type="checkbox"]', function (e) {
				//alert("hi");
				var tr = $(this).closest('tr');
				//var $tds = tr.find("td");

				//$tds = $(this).closest("tr").find("input:hidden");
				//var arr = $('#example').dataTable().fnGetData($(this));
				//var Id = arr.Id;
				var row = table.row(tr);

				row.child.hide();
				tr.removeClass('shown');
			});
			
            $('#example tbody').on('click', 'td.details-control', function () {

                var tr = $(this).closest('tr');
                var $tds = tr.find("td");

                $tds = $(this).closest("tr").find("input:hidden");
                var arr = $('#example').dataTable().fnGetData($(this));
                var Id = arr.Id;
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    format(Id, tr, row);
                }
            });
        });
    </script>
